html, body {
    margin: 0; 
    height:100%; 
    font-family: 'Lato', sans-serif;
}

* { box-sizing: border-box;}

.frame{
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background-image: url("../img/bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.content { 
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.nameplate{
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 12px;
    font-weight: bold;
    font-size: 3rem;
}

.me{
    position: absolute;
    top: 40%;
    transform: translateY(50%);
    padding-top: 12px;
    padding-left: 12px;
    font-weight: normal;
    font-size: 2rem;
}

.about{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 12px;
    padding-left: 32px;
    font-weight: normal;
    font-size: 2rem;
}

.about p {margin: 0; padding-bottom: 8px;}

.footer{
    position: absolute;
    bottom: 0;
    padding-left: 12px;
    padding-bottom: 12px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;   
}

.footer li { float: left;}
.footer li::after {content: ""; padding-right: 24px;}
.footer a {text-decoration: none;}
.footer a:visited {color: black;}

@media only screen and (min-width: 768px) {
    .frame{
        top: 24px; bottom: 24px; left: 24px;    right: 24px;
        background-image: url("../img/pexels-riccardo-bresciani-307006.jpg");
    }
    .content    { top: 24px; bottom: 24px; left: 24px; right: 24px; }
    .nameplate  { top: 50%; padding-left: 32px;}
    .me         { top: 50%; padding-left: 32px;}
    .footer     { padding-left: 32px; padding-bottom: 24px;
    }
}